body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
main{
  margin-top: 50px;
  float: left;
}
.wrapper{
  width: 100%;
  height: auto;
}
.insider{
  width: 916px;
  height: auto;
  min-height: 500px;
  margin: 0px auto;
  margin-top: 60px;
  padding: 74px;
}
.header{
  height: auto;
  min-height: 260px;
  background: blue;
}
.presentation{
  width: 696px;
  height: auto;
  float: left;
}
.presentation .name{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 6px;
  display: block;
}
.presentation .intitule{
  text-transform: uppercase;
  color: #54c4e9;
  margin: 0px;
}
.presentation .description{
  margin-top: 10px;
  font-size: 14px;
}
.pic{
  width: 220px;
  height: auto;
  float: right;
}
.pic img{
  float: right;
}
.contact{
  width: 916px;
  float: left;
  height: auto;
  margin-top: 10px;
}
.infos{
  width: 193px;
  float: left;
  margin-right: 48px;
}
.infos .label{
  width: 193px;
  text-transform: uppercase;
  color: #54c4e9;
  border-bottom: 1px #54c4e9 solid;
  font-size: 13px;
  padding-bottom: 8px;
}
.infos .info{
  margin-top: 6px;
  font-size: 14px;
}
.infos.last{
  margin-right: 0px !important;
}
.contact .linkedinlink{
  width: 916px;
  float: left;
  height: auto;
  font-size: 13px;
  margin-top: 6px;
}
.contact .linkedinlink .label{
  width: auto;
  border-right: 1px #54c4e9 solid;
  border-bottom: 1px #54c4e9 solid;
  padding-right: 10px;
  height: 20px;
  float: left;
  color: #54c4e9;
  text-transform: uppercase;
}
.contact .linkedinlink .info{
  padding-left: 10px;
  border-bottom: 1px #54c4e9 solid;
  height: 20px;
  float: left;
}
.contact .linkedinlink .info .boldblue{
  font-weight: bold;
  color: #54c4e9;
}
.leftside{
  float: left;
  height: auto;
  width: 615px;
}
.rightside{
  float: right;
  height: auto;
  min-height: 400px;
  width: 299px;
  border-left: 1px #54c4e9 solid;
}
.boxright{
  height: auto;
  min-height: 100px;
  float: right;
  width: 278px;
}
.rightside .padding{
  width: 12px;
  float: left;
  height: 100%;
  border-top: 1px #54c4e9 solid;
}

.leftside .padding{
  width: 12px;
  float: left;
  height: auto;
  border-top: 1px #54c4e9 solid;
}



.boxright h2{
  color: #54c4e9;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 4px;
}
.boxleft h2{
  color: #54c4e9;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  margin-top: -10px;
  margin-bottom: 4px;
}
.boxright .item{
  margin-top: 20px;
  float: left;
}
.boxright .item .progress{
  border-bottom: 2px #54c4e9 solid;
  float: left;
  width: 100%;
}
.boxright .item img{
  height: 22px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.boxright .item .label{
  font-size: 15px;
  display: block;
  width: 234px;
  float: left;
  height: 32px;
  line-height: 30px;
}




.leftside .experience{
  height: auto;
  float: left;
  width: 615px;
  border-left: 1px #54c4e9 solid;
}
.boxleft{
  height: auto;
  min-height: 100px;
  float: right;
  width: 594px;
}
.boxleft .itemexperience{
  margin-top: 18px;
}
.boxleft .itemexperience .label{
  font-size: 15px;
  height: 32px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
.boxleft .itemexperience .date{
  font-size: 13px;
  color: lightgray;
  display: block;
}
.boxleft .itemexperience .description{
  font-size: 13px;
  display: block;
  color: #3b3b3b;
  margin-top: 6px;
}
.boxleft .itemexperience ul{
  padding-left: 17px;
  font-size: 14px;
  margin-top: 8px;
  color: #3d3d3d;
}
.boxleft .itemexperience ul li{
}

.leftside .formation{
  margin-top: 40px;
  float: left;
  width: 615px;
  border-left: 1px #54c4e9 solid;
}
