.percentage{
  position: relative
  font-size: 1em
  background: $primary-color
  height: 1em
  border-radius: 0.5em
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .insider{
    width: 80%;
    height: auto;
    min-height: 500px;
    margin: 0px auto;
    padding: 10%;
  }
  .presentation{
    width: 100%;
    height: auto;
    float: left;
  }
  .pic{
    width: 100%;
    height: auto;
    float: right;
    text-align: center;
  }
  .wrapper{
    width: 100%;
    height: auto;
  }
  .contact {
    width: 100%;
    float: left;
    height: auto;
    margin-top: 10px;
  }
  .contact .linkedinlink {
    width: 100%;
    float: left;
    height: auto;
    font-size: 13px;
    margin-top: 20px;
  }
  .pic img {
      float: none;
  }
  .name::first-letter{
    font-size: 34px;
    float: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .presentation .name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 6px;
    display: block;
    text-align: center;
  }
  .presentation .intitule {
      text-transform: uppercase;
      color: #54c4e9;
      margin: 0px;
      font-weight: 500;
      text-align: center;
  }
  .presentation .description {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  .infos {
    width: 100%;
    float: none;
    margin-right: 48px;
    text-align: center;
  }
  .infos .label {
    width: 100%;
    text-transform: uppercase;
    color: #54c4e9;
    border-bottom: 1px #54c4e9 solid;
    font-size: 13px;
    padding-bottom: 8px;
    font-weight: 500;
    margin-top: 20px;
  }
  .contact .linkedinlink .label {
    width: 100%;
    border-right: 0px #54c4e9 solid;
    border-bottom: 1px #54c4e9 solid;
    padding-right: 0px;
    height: 20px;
    float: none;
    color: #54c4e9;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: block;
  }
  .contact .linkedinlink .info {
    padding-left: 0px;
    border-bottom: 1px #54c4e9 solid;
    height: 20px;
    float: none;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  main {
    margin-top: 50px;
    float: none;
    margin-bottom: 74px;
  }
  section .leftside {
    float: left;
    height: auto;
    width: 100%;
  }
  .leftside .experience {
      height: auto;
      float: none;
      width: 100%;
      border-left: 0;
  }
  .leftside .padding {
      display: none;
  }
  .boxleft h2 {
    color: #54c4e9;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 4px;
  }
  .leftside {
      float: none;
      height: auto;
      width: 100%;
  }
  .boxleft {
      height: auto;
      min-height: 100px;
      float: none;
      width: 100%;
      padding-right: 0px;
  }
  .leftside .formation {
    margin-top: 40px;
    float: none;
    width: 100%;
    border-left: 0px #54c4e9 solid;
  }
  .rightside {
    float: none;
    height: auto;
    min-height: 400px;
    width: 100%;
  }
  .competencespro {
    float: left;
    border-left: 0px #54c4e9 solid;
    width: 100%;
  }
  .competencesperso {
    float: left;
    border-left: 0px #54c4e9 solid;
    margin-top: 0px;
    width: 100%;
  }
  .langues {
    float: left;
    border-left: 0px #54c4e9 solid;
    margin-top: 0px;
    width: 100%;
  }
  .competencespro .boxright h2, .competencesperso .boxright h2 {
    color: #54c4e9;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 4px;
    width: 100%;
  }
  .rightside .padding {
    display: none;
  }
  .boxright {
    height: auto;
    min-height: 100px;
    float: left;
    width: 100%;
  }
  .boxright .item {
    margin-top: 10px;
    float: left;
    width: 100%;
  }
  .competencesperso .boxright .item .label {
    font-size: 15px;
    display: block;
    width: 100%;
    float: left;
    height: 26px;
    line-height: 26px;
  }
  .langues .boxright h2, .loisirs .boxright h2 {
    color: #54c4e9;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 4px;
    width: 100%;
  }
  .langues .boxright .item .label {
    font-size: 15px;
    display: block;
    width: 100%;
    float: left;
    height: 26px;
    line-height: 26px;
  }
  .loisirs {
    float: left;
    border-left: 0px #54c4e9 solid;
    margin-top: 0px;
    width: 100%;
  }
  .loisirs .boxright {
    height: auto;
    float: left;
    width: 100%;
    min-height: 30px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
